<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>회원등록 페이지</title>
</head>
<body>
	<h1>회원등록 페이지</h1>
	<hr>
	<form action="/memberSave" method="get">
		<table border="1">
			<tr>
				<th>이름</th>
				<td><input type="text" name="name"></td>
			</tr>
			<tr>
				<th>이메일</th>
				<td><input type="text" name="email"></td>
			</tr>
			<tr>
				<th>주소</th>
				<td><input type="text" name="addr"></td>
			</tr>
			<tr>
				<th></th>
				<td><input type="submit" value="등록하기"></td>
			</tr>
		</table>
	</form>
</body>
</html>